<div class="m-auto">
    {{#each beer}}
        <a href="" class="bg-purple-100 flex flex-col justify-between">
            <div class="py-10 pb-3 h-46 ">
                    {{>beerpartial this}}
                    {{>randombeerpartialextrainfo this}}
            </div>
        </a>
    {{/each}}
</div>