<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="menu flex items-center justify-around uppercase list-none w-100 bg-blue-400 text-white h-16">
        <li><a href="/">Home</a></li>
        <li><a href="/beers">Beers</a></li>
        <li><a href="/random-beer">Random Beer</a></li>
    </div>
        <div class="content p-8">
             {{{body}}}
        </div>
    <div class="footer bg-gray-200 pin-b">
        Develop by IronHack ;)
    </div>
</body>
</html>